.SearchBar{
    display: flex;
    width: 100%;
    background: #f0f0f0;
    height: 65px;
    justify-content: center;
    align-items: center;

    &__input{
        width: 50%;
        max-width: 500px;
        border-radius: 15px;
        outline: none;
        border: 1px solid #c2c2c2;
        height: 20px;
        padding: 5px 10px;
        margin-right: 20px;
    }

    &__button{
        height: 30px;
        padding: 5px;
        outline: none;
        border: none;
        font-weight: 400;
        width: 70px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
        transition: 0.33s box-shadow, background-color;
        &--primary{
            background: #002550;
            color: #fff;
            border-radius: 5px;
        }
    }
    &__button:hover{
        box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.3);
        background-color: #001d3d;
    }
    
}