.Movie{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 300px;
    max-width: 400px;
    margin: 2em 1em;
    padding: 1em;
    border-radius: 5px;
    background: #e6e6e6;
    &__header{
        margin-bottom: 0em;
    }
    &__year{
        margin-top: 0em;
        font-size: 90%;
    }
}